@model PersonalTrainer.ViewModels.SearchCaloriesViewModel
@{
    ViewBag.Title = "InputFood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add A Food Item</h2>

<br style="grid-row-span:2" />

<p>Here you can input food to get a calorie update (Lists the of 25 options, please try to be specific).</p>
<p> If the food is not listed you can input it manually here: @Html.ActionLink("Add Item", "InputDetails", "CalorieCounter")</p>

<br style="grid-row-span:3" />

<h4>Search Parameters</h4>

<br style="grid-row-span:2" />

<p>Please enter the product name ( example: beef, pork, pizza ).</p>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Input A Word To Search", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SearchWordInput, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Search" />
        </div>
    </div>
}

@try
{
    if (Model.SearchWordInput != null && Model.FoodApi != null)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Food List</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Name</th>

                </tr>
                @foreach (var items in Model.FoodApi.List.Item)
                {
                    <tr>
                        <td>@items.Name</td>
                        <td>@Html.ActionLink("Add", "AddItem", "CalorieCounter", new { id = items.Ndbno}, null)</td>
                        @*<td>@Html.ActionLink("View", "ViewItem", "CalorieCounter", new { id = items.Ndbno}, null)</td>*@
                    </tr>
                }
            </tbody>
        </table>
    }
}
catch (Exception e)
{ }
finally
{ }