@model PersonalTrainer.Models.FoodInputModels
@{
    ViewBag.Title = "ViewItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.FoodName</h2>
@*<br/>
<tr>
    <td>Weight: @Model.Weight</td>
</tr>*@
<br />
<tr>
    <td>Calories: @Model.Calories</td>
</tr>
<br />
<tr>
    <td>Fats: @Model.Fat</td>
</tr>
<br />
<tr>
    <td>Carbohydrates: @Model.Carb</td>
</tr>
<br />
<tr>
   <td>Protiens: @Model.Protien</td>
</tr>
<br />
<tr>
    <td>Measure: @Model.Measure</td>
</tr>
<br />

@Html.ActionLink("Return", "Index", "CalorieCounter")