@model PersonalTrainer.Models.ApplicationUser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Profile</h2>

<p>First Name: @Model.FirstName</p>

<p>Last Name: @Model.LastName</p>

<p>Address: @Model.Address</p>

<p>City: @Model.City</p>

<p>State: @Model.State</p>

<p>Zip: @Model.Zip</p>

<p>Phone: @Model.Phone</p>

<h2>Training Profile</h2>

<p>Age: @Model.Age</p>

<p>Height: @Model.Height</p>

<p>Weight: @Model.Weight</p>

<p>Activity Level: @Model.ActivityLevel</p>