@model PersonalTrainer.Models.ApplicationUser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Profile</h2>
<p>Personal information.</p>

<p>First Name: @Model.FirstName</p>

<p>Last Name: @Model.LastName</p>

<p>Address: @Model.Address</p>

<p>City: @Model.City</p>

<p>State: @Model.State</p>

<p>Zip: @Model.Zip</p>

<p>Phone: @Model.Phone</p>

<p>To change your peronal information please click here: @Html.ActionLink("Edit Personal Info", "UserInfo", "ManageAccount")</p>

<br style="grid-row-span:3"/>

<h2>Training Profile</h2>
<p>Information used for training purposes.</p>

<p>Age: @Model.Age</p>

<p>Height: @Model.HeightFeet ' @Model.HeightInches ''</p>

<p>Weight: @Model.Weight</p>

<p>Gender: @Model.Gender</p>

<p>Goal Weight: @Model.GoalWeight</p>

@*@{ decimal bmi = 0;}
@{ string bmiIndicator = "";}

@try
{
    bmi = (decimal.Parse(@Model.Weight) * 703) / (decimal.Parse(@Model.Height) * decimal.Parse(@Model.Height));
    bmi = Math.Round(bmi * 100) / 100;
    if(int.Parse(bmi) < 19)
    {
        bmiIndicator = "<p style=" + "color:blue" + ">Underweight</p>";
    }
    else if(int.Parse(bmi) == 19 || bmi < 25)
    {
        bmiIndicator = "<p style=" + "color:green" + ">Healthy</p>";
    }
    else if(int.Parse(bmi) == 25 || bmi < 30)
    {
        bmiIndicator = "<p style=" + "color:yellow" + ">Overweight</p>";
    }
    else if(int.Parse(bmi) == 30 || bmi < 40)
    {
        bmiIndicator = "<p style=" + "color:orange" + ">Obese</p>";
    }
    else
    {
        @bmiIndicator = "<p style=" + "color:red" + ">Extremely Obese</p>";
    }
}
catch (Exception e)
{

}
finally
{

}*@

<p>Current BMI: @Model.BMI <a href="http://www.heart.org/HEARTORG/HealthyLiving/WeightManagement/BodyMassIndex/Body-Mass-Index-In-Adults-BMI-Calculator-for-Adults_UCM_307849_Article.jsp?gclid=CjwKEAjwsNfOBRCWl_HevZSJ2i0SJABiE2qWyr8dVOSNRHgplUVdHEfYqpqvTwY6gUnxx3Jp4awvGhoC38nw_wcB#.WdZ4YVtSxD8" target="_blank" title="American Heart Association">What is BMI?</a></p>

<p>According to your BMI: @Model.BmiIndicator</p>

<p>Activity Level: @Model.ActivityLevel</p>

@if (Model.LastUpdate == null)
{
    <p>Last Update: @Model.LastUpdate</p>
}
else
{
<p>Last Update: @Model.LastUpdate.Value.ToString("MM/dd/yyyy")</p>
if (DateTime.Today >= (Model.LastUpdate.Value.AddDays(7)))
{
    <p style="color:red">*It has been 1 week or over since you last updated your progress.  Please use the link below to update.*</p>
}
}

<p>To change your training information please click here: @Html.ActionLink("Update Training Profile", "ProfileInfo", "ManageAccount")</p>


<h3>Upload Photos</h3>

@try
{
    if (Model.UserImg != null)
    {
        foreach (var path in Model.UserImg)
        {
    <div>
        <a href="@Url.Content(@path.Path)" target="_blank"><img src="@Url.Content(@path.Path)" style="height:200px;width:100;image-orientation:from-image" /></a>
        <br />
        <p>Date uploaded: @path.DateUploaded.Value.ToString("MM/dd/yyyy")</p>
        <br />
    </div>
        }
    }
}
catch (Exception e)
{

}
finally
{

}
@using (Html.BeginForm("UploadPicture", "ManageAccount", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload Progress Photo:</label>
    <input type="file" name="file" id="file" style="height: 100%; width: 100%" />
    <input type="submit" value="Upload" class="submit" />
}