@model PersonalTrainer.Models.ApplicationUser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Profile</h2>
<p>Personal information.</p>

<p>First Name: @Model.FirstName</p>

<p>Last Name: @Model.LastName</p>

<p>Address: @Model.Address</p>

<p>City: @Model.City</p>

<p>State: @Model.State</p>

<p>Zip: @Model.Zip</p>

<p>Phone: @Model.Phone</p>

<p>To change your peronal information please click here: @Html.ActionLink("Edit Personal Info","UserInfo", "ManageAccount")</p>

<br style="grid-row-span:3"/>

<h2>Training Profile</h2>
<p>Information used for training purposes.</p>

<p>Age: @Model.Age</p>

<p>Height: @Model.Height</p>

<p>Weight: @Model.Weight</p>

<p>Gender: @Model.Gender</p>

<p>Activity Level: @Model.ActivityLevel</p>

<p>To change your training information please click here: @Html.ActionLink("Update Training Profile", "ProfileInfo", "ManageAccount")</p>

