@model PersonalTrainer.Models.ApplicationUser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Profile</h2>
<p>Personal information.</p>

<p>First Name: @Model.FirstName</p>

<p>Last Name: @Model.LastName</p>

<p>Address: @Model.Address</p>

<p>City: @Model.City</p>

<p>State: @Model.State</p>

<p>Zip: @Model.Zip</p>

<p>Phone: @Model.Phone</p>

<p>To change your peronal information please click here: @Html.ActionLink("Edit Personal Info","UserInfo", "ManageAccount")</p>

<br style="grid-row-span:3"/>

<h2>Training Profile</h2>
<p>Information used for training purposes.</p>

<p>Age: @Model.Age</p>

<p>Height: @Model.Height</p>

<p>Weight: @Model.Weight</p>

<p>Gender: @Model.Gender</p>

<p>Activity Level: @Model.ActivityLevel</p>

@if (Model.LastUpdate == null)
{
    <p>Last Update: @Model.LastUpdate</p>
}
else
{
<p>Last Update: @Model.LastUpdate.Value.ToString("MM/dd/yyyy")</p>
if (DateTime.Today >= (Model.LastUpdate.Value.AddDays(7)))
{
    <p style="color:red">*It has been 1 week or over since you last updated your progress.  Please use the link below to update.*</p>
}
}

<p>To change your training information please click here: @Html.ActionLink("Update Training Profile", "ProfileInfo", "ManageAccount")</p>


<h3>Upload Photos</h3>
@try
{
    if (Model.UserName == "1")
    {
        foreach (var path in Model.UserImg)
        {
    <div>
        <img src="@path.ToString()" height="100" width="50" />
    </div>
        }
    }
}
catch (Exception e)
{

}
finally { }
@using (Html.BeginForm("UploadPicture", "ManageAccount", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload Progress Photo:</label>
    <input type="file" name="file" id="file" style="width: 100%;" />
    <input type="submit" value="Upload" class="submit" />
}