@model PersonalTrainer.ViewModels.ProfileUpdaterViewModel
@{
    ViewBag.Title = "ProfileInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile update</h2>

<p>Please fill out the infomation below to update your training information. (All fields are required)</p>

@using (Html.BeginForm())
{
@Html.ValidationSummary("", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Height, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Height, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Weight, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Weight, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownListFor(m => m.Gender, new SelectList(Model.User.GenderList))
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ActivityLevel, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownListFor(m => m.ActivityLevel, new SelectList(Model.User.ActivityList))
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.GoalWeight, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.GoalWeight, new SelectList(Model.User.ActivityList))
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default" value="Update" />
    </div>
</div>
}